@font-face{
  font-family: "Ancherr";
  src: url('../font/Ancherr-Personal-Use.otf')format("OpenType");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  background-image: linear-gradient(to bottom, #000000, #180206, #250408, #310406, #3d0000);
}

canvas {
  margin: auto;
}